<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blogs</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/blog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<style>
  .color{
   color:black;
  }

  .ourblogs{
    color: white;
  }
</style>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container ourblogs">
      <a class="navbar-brand ourblogs"><b>Our Blogs</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="checkup.html">Check Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdmngVmlPTtfT9EBLI8lZcnDHR5dokVjJrc3uGky2ja5TtW0A/viewform">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="color">
        <a href="https://medium.com/@saugata.paul1010/a-case-study-on-malaria-detection-using-cell-images-and-deep-convolution-neural-networks-in-keras-8d07356a3d05">
        <h1 class="mt-5 color">A case study on Malaria detection using cell images and Deep Convolution Neural networks in Keras!</h1>
        <p class="lead color">In this case study, we will learn how to detect Malaria using cell images and CNN architectures. With the advancement in Deep Learning architectures, this is fairly easy. Our objective for this case study would be to develop a system which can detect this deadly disease without having to rely entirely on medical tests. Remember the song ‘Sardi, Khasi na Malaria Hua’ from the famous 90's Hindi movie ‘Raju Ban Gaya Gentleman’ ? Well, it might sound absolutely hilarious to you guys but being a 90’s kid and an Indian, this was the first time I had actually heard about the disease called Malaria....
        </p></a>
        <p class="list-unstyled">
          Saugata Paul Jun 21 2019
        </p>
        <br>
        <a href="https://medium.com/@saugata.paul1010/a-detailed-case-study-on-multi-label-classification-with-machine-learning-algorithms-and-72031742c9aa">
        <h1 class="mt-5 color">A detailed case study on Multi-Label Classification with Machine Learning algorithms and predicting movie tags based on plot summaries!</h1>
        <p class="lead color">Social tagging of movies reveals a lot of contrasting and unrelated information about movies like which genre a particular movie belongs to, it’s plot structure, information about it’s soundtracks, movie metadata, visual and emotional experiences. These information can be leveraged to design robust and automated systems which create tags for movies. Automated tagging can help search engines and recommendation systems to extract information about similar movies based on their tags and also help audiences to get an idea about what to expect from a movie in advance....
        </p></a>
        <p class="list-unstyled">
          Saugata Paul Jun 16 2019
        </p>
        <br>
        <a href="https://medium.com/@saugata.paul1010/ensemble-learning-bagging-boosting-stacking-and-cascading-classifiers-in-machine-learning-9c66cb271674">
        <h1 class="mt-5 color">Ensemble Learning — Bagging, Boosting, Stacking and Cascading Classifiers in Machine Learning using SKLEARN and MLEXTEND libraries</h1>
        <p class="lead color">Ensemble learning is a strategy in which a group of models are used to solve a challenging problem, by strategically combining diverse machine learning models into one single predictive model. In general, ensemble methods are primarily used to improve the overall performance accuracy of a model and combine several different models, also known as the base learners, to predict the results, instead of using a single model....
        </p></a>
        <p class="list-unstyled">
          Saugata Paul Nov 30 2018
        </p>
        <br>
        <a href="https://medium.com/@suvhradipghosh/imbalanced-vs-balanced-dataset-in-machine-learning-4faec5629b7e">
        <h1 class="mt-5 color">Imbalanced vs Balanced Dataset in Machine Learning</h1>
        <p class="lead color">Before giving you the definition of Balanced dataset let me give you an example for your better understanding, lets assume I have a dataset with thousand data points and I name it “N”. So now N = 1000 data points, & N have two different classes one is N1 and another one is N2. Inside the N1 there have 580 data points and inside the N2 there have 420 data points. N1 have positive (+Ve) data points and N2 have negative (-Ve) data points. So we can say that the number of data points of N1 and N2 is almost similar than each other....
        </p></a>
        <p class="list-unstyled">
          Suvhradip Ghosh Jul 03 2019
        </p>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/blog/vendor/jquery/jquery.slim.min.js"></script>
  <script src="../static/blog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
