<!DOCTYPE html>
<html>
<head>
  <title>Random Object Detection</title>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script src="../static/js/fun.js"></script>
  <link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>
  <br><br><br>
<h1 align="center "><font color="#5c8a8a">Enter any random image of your choice<br>and you will get to know what it is!!</font></h1>
<center>
<select id="id_one" onchange="show_hide_cancer()" class="button">
  <option value="fun">Upload any image!</option>
</select>
<br>
<br>
  <input id="file_" type="file" name="pic" accept="image/*" capture="camera" onchange="readURL(this);" class="button"/>
  <br>
  <br>
<button onclick="submit();changeText('button1', 'Analysing....', 'Analyse Image');" class="button" id="button1">Analyse Image</button></center>
<br>
  <center>
  <h2 id="given"></h2>
  <div class="gif">
  <img src="../static/images/pht.gif" id="blah" class="demo">
  </div>
  <br>
 <!-- <h5 id="Analysing"></h5> -->
  <h2 id="demo" class="under"></h2>
  <table align="center">
    <td height="50%" width="100%">
    <h3><font color="#5c8a8a"><div id="status" class="status height" align="center"> </div></font></h3>
    <h3><font color="#5c8a8a"><div id="status1" class="status height" align="center"> </div></font></h3>
    <h3><font color="#5c8a8a"><div id="status2" class="status height" align="center"> </div></font></h3>
    <h3><font color="#5c8a8a"><div id="status3" class="status height" align="center"> </div></font></h3>
    <h3><font color="#5c8a8a"><div id="status4" class="status height" align="center"> </div></font></h3>
    <br>

      <h3><font color="#5c8a8a"><div id="result"> </div></font></h3>
  </td>
  <br>
 </table>
 <br>
 <a href="checkup.html"><button class="button">Home</button></a>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</center>
<center><h3><div id="warning" class="status height" align="center"> </div></h3></center>

</body>
<script>
     function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#blah')
                  .attr('src', e.target.result);
          };

          reader.readAsDataURL(input.files[0]);
      }
  }
</script>
</html>
