.gif{
  height: 300px;
  width: 300px;
  border-color: white;
  border: 4;
 }
 body{

  background-image: url("../img/cVgFXd.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  margin-top: 15px;
 }
 h1,h2,h3{
  color: white;
 }
 p{
  color: white;
 }
.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
  display: inline-block;
}
img{
  max-width:500px;
}
input[type=file]{
padding:10px;
font-family: "Trebuchet MS", Helvetica, sans-serif;
background:transparent;}
.button {
  background-color: rgba(0.55,0,0,0.5);
  border: 1;
  border-color: #1a53ff;
  color:  #809fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-decoration-color: black;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: center;
}
.button:hover span {
  padding-right: 25px;
  background-image:none !important;
  background-color: white;

}

.button:hover span:after {
  opacity: 7;
  right: 0;
  background-image:none !important;
  background-color: white;
}
h1{
  text-align: center;
  font-style: all;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.button1 {border-radius: 12px;}
.demo{
  height: 300px;
  width: 300px;
  border-color: white;
  border: 4;
  align-content: left;
}
* {
  box-sizing: border-box;
}
.under{
  text-decoration: underline;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 44.44%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.status{
  text-align: left;
}
.height{
  line-height: normal;
}
}